In [7]:
#load csv as a pandas dataframe
import pandas as pd
homeless = pd.read_csv(r"C:\Users\manis\Documents\PY\DataAnalysiswithPython\Datasets\homelessness.csv", index_col =0)

- r"" : to use backslash in file path or give / forward slash
- index_col=0 : dataframe doesn't generate unnamed column

In [8]:
homeless

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
24,East South Central,Mississippi,1024.0,328.0,2981020
25,West North Central,Missouri,3776.0,2107.0,6121623
26,Mountain,Montana,983.0,422.0,1060665
27,West North Central,Nebraska,1745.0,676.0,1925614
28,Mountain,Nevada,7058.0,486.0,3027341
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,West North Central,North Dakota,467.0,75.0,758080
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,New England,Rhode Island,747.0,354.0,1058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,Mountain,Wyoming,434.0,205.0,577601

In [9]:
# to view first few rows
homeless.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [10]:
# to display name, datatype and number of missing values
homeless.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

In [12]:
#shape attribute displays number of rows and columns in a tuple
homeless.shape

(51, 5)

In [13]:
# describe method ( gives summary statistics , count is number of non missing values)
homeless.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [14]:
# 3 companents in data frame ( values, columns, index)
homeless.values # values attribute extracts in form of 2D numpy array

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588],
       ['Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       ['New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       ['South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       ['South Atlantic', 'District of Columbia', 3770.0, 3134.0, 701547],
       ['South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       ['South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       ['Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       ['Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       ['East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       ['East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       ['West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       ['West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       ['East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       ['West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       ['New England', 'Maine', 1450.0, 1066.0, 1339057],
       ['South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       ['New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       ['East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       ['West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       ['East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       ['West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       ['Mountain', 'Montana', 983.0, 422.0, 1060665],
       ['West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       ['Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       ['New England', 'New Hampshire', 835.0, 615.0, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       ['Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       ['Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       ['South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       ['West North Central', 'North Dakota', 467.0, 75.0, 758080],
       ['East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       ['West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       ['Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       ['New England', 'Rhode Island', 747.0, 354.0, 1058287],
       ['South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       ['West North Central', 'South Dakota', 836.0, 323.0, 878698],
       ['East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       ['West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       ['Mountain', 'Utah', 1904.0, 972.0, 3153550],
       ['New England', 'Vermont', 780.0, 511.0, 624358],
       ['South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       ['Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       ['South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       ['East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       ['Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

In [15]:
homeless.columns #columns attribute returns column names

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [16]:
homeless.index #returns row labels

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

In [17]:
homeless.sort_values('region') #sorts default ascending order

,region,state,individuals,family_members,state_pop
35,East North Central,Ohio,6929.0,3320.0,11676341
49,East North Central,Wisconsin,2740.0,2167.0,5807406
22,East North Central,Michigan,5209.0,3142.0,9984072
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
0,East South Central,Alabama,2570.0,864.0,4887681
42,East South Central,Tennessee,6139.0,1744.0,6771631
24,East South Central,Mississippi,1024.0,328.0,2981020
17,East South Central,Kentucky,2735.0,953.0,4461153
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
44,Mountain,Utah,1904.0,972.0,3153550
31,Mountain,New Mexico,1949.0,602.0,2092741
28,Mountain,Nevada,7058.0,486.0,3027341
26,Mountain,Montana,983.0,422.0,1060665
50,Mountain,Wyoming,434.0,205.0,577601
2,Mountain,Arizona,7259.0,2606.0,7158024
12,Mountain,Idaho,1297.0,715.0,1750536
5,Mountain,Colorado,7607.0,3250.0,5691287
19,New England,Maine,1450.0,1066.0,1339057
21,New England,Massachusetts,6811.0,13257.0,6882635
45,New England,Vermont,780.0,511.0,624358
39,New England,Rhode Island,747.0,354.0,1058287
29,New England,New Hampshire,835.0,615.0,1353465
6,New England,Connecticut,2280.0,1696.0,3571520
37,Pacific,Oregon,11139.0,3337.0,4181886
47,Pacific,Washington,16424.0,5880.0,7523869
11,Pacific,Hawaii,4131.0,2399.0,1420593
4,Pacific,California,109008.0,20964.0,39461588
1,Pacific,Alaska,1434.0,582.0,735139
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
46,South Atlantic,Virginia,3928.0,2047.0,8501286
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
20,South Atlantic,Maryland,4914.0,2230.0,6035802
48,South Atlantic,West Virginia,1021.0,222.0,1804291
7,South Atlantic,Delaware,708.0,374.0,965479
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
15,West North Central,Iowa,1711.0,1038.0,3148618
34,West North Central,North Dakota,467.0,75.0,758080
16,West North Central,Kansas,1443.0,773.0,2911359
27,West North Central,Nebraska,1745.0,676.0,1925614
23,West North Central,Minnesota,3993.0,3250.0,5606249
25,West North Central,Missouri,3776.0,2107.0,6121623
36,West South Central,Oklahoma,2823.0,1048.0,3940235
43,West South Central,Texas,19199.0,6111.0,28628666
18,West South Central,Louisiana,2540.0,519.0,4659690
3,West South Central,Arkansas,2280.0,432.0,3009733

In [18]:
homeless.sort_values('region', ascending = False) #set ascending false for descending order

,region,state,individuals,family_members,state_pop
36,West South Central,Oklahoma,2823.0,1048.0,3940235
3,West South Central,Arkansas,2280.0,432.0,3009733
18,West South Central,Louisiana,2540.0,519.0,4659690
43,West South Central,Texas,19199.0,6111.0,28628666
25,West North Central,Missouri,3776.0,2107.0,6121623
15,West North Central,Iowa,1711.0,1038.0,3148618
27,West North Central,Nebraska,1745.0,676.0,1925614
23,West North Central,Minnesota,3993.0,3250.0,5606249
41,West North Central,South Dakota,836.0,323.0,878698
16,West North Central,Kansas,1443.0,773.0,2911359
34,West North Central,North Dakota,467.0,75.0,758080
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
48,South Atlantic,West Virginia,1021.0,222.0,1804291
40,South Atlantic,South Carolina,3082.0,851.0,5084156
20,South Atlantic,Maryland,4914.0,2230.0,6035802
7,South Atlantic,Delaware,708.0,374.0,965479
10,South Atlantic,Georgia,6943.0,2556.0,10511131
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
9,South Atlantic,Florida,21443.0,9587.0,21244317
46,South Atlantic,Virginia,3928.0,2047.0,8501286
11,Pacific,Hawaii,4131.0,2399.0,1420593
47,Pacific,Washington,16424.0,5880.0,7523869
1,Pacific,Alaska,1434.0,582.0,735139
4,Pacific,California,109008.0,20964.0,39461588
37,Pacific,Oregon,11139.0,3337.0,4181886
19,New England,Maine,1450.0,1066.0,1339057
6,New England,Connecticut,2280.0,1696.0,3571520
45,New England,Vermont,780.0,511.0,624358
39,New England,Rhode Island,747.0,354.0,1058287
29,New England,New Hampshire,835.0,615.0,1353465
21,New England,Massachusetts,6811.0,13257.0,6882635
44,Mountain,Utah,1904.0,972.0,3153550
50,Mountain,Wyoming,434.0,205.0,577601
2,Mountain,Arizona,7259.0,2606.0,7158024
28,Mountain,Nevada,7058.0,486.0,3027341
26,Mountain,Montana,983.0,422.0,1060665
5,Mountain,Colorado,7607.0,3250.0,5691287
12,Mountain,Idaho,1297.0,715.0,1750536
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
17,East South Central,Kentucky,2735.0,953.0,4461153
42,East South Central,Tennessee,6139.0,1744.0,6771631
24,East South Central,Mississippi,1024.0,328.0,2981020
0,East South Central,Alabama,2570.0,864.0,4887681
14,East North Central,Indiana,3776.0,1482.0,6695497
13,East North Central,Illinois,6752.0,3891.0,12723071
22,East North Central,Michigan,5209.0,3142.0,9984072
35,East North Central,Ohio,6929.0,3320.0,11676341
49,East North Central,Wisconsin,2740.0,2167.0,5807406

In [19]:
# sorting based on multiple columns, pass a list
homeless.sort_values(['region', 'state'])

,region,state,individuals,family_members,state_pop
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
22,East North Central,Michigan,5209.0,3142.0,9984072
35,East North Central,Ohio,6929.0,3320.0,11676341
49,East North Central,Wisconsin,2740.0,2167.0,5807406
0,East South Central,Alabama,2570.0,864.0,4887681
17,East South Central,Kentucky,2735.0,953.0,4461153
24,East South Central,Mississippi,1024.0,328.0,2981020
42,East South Central,Tennessee,6139.0,1744.0,6771631
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
2,Mountain,Arizona,7259.0,2606.0,7158024
5,Mountain,Colorado,7607.0,3250.0,5691287
12,Mountain,Idaho,1297.0,715.0,1750536
26,Mountain,Montana,983.0,422.0,1060665
28,Mountain,Nevada,7058.0,486.0,3027341
31,Mountain,New Mexico,1949.0,602.0,2092741
44,Mountain,Utah,1904.0,972.0,3153550
50,Mountain,Wyoming,434.0,205.0,577601
6,New England,Connecticut,2280.0,1696.0,3571520
19,New England,Maine,1450.0,1066.0,1339057
21,New England,Massachusetts,6811.0,13257.0,6882635
29,New England,New Hampshire,835.0,615.0,1353465
39,New England,Rhode Island,747.0,354.0,1058287
45,New England,Vermont,780.0,511.0,624358
1,Pacific,Alaska,1434.0,582.0,735139
4,Pacific,California,109008.0,20964.0,39461588
11,Pacific,Hawaii,4131.0,2399.0,1420593
37,Pacific,Oregon,11139.0,3337.0,4181886
47,Pacific,Washington,16424.0,5880.0,7523869
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
20,South Atlantic,Maryland,4914.0,2230.0,6035802
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
40,South Atlantic,South Carolina,3082.0,851.0,5084156
46,South Atlantic,Virginia,3928.0,2047.0,8501286
48,South Atlantic,West Virginia,1021.0,222.0,1804291
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
23,West North Central,Minnesota,3993.0,3250.0,5606249
25,West North Central,Missouri,3776.0,2107.0,6121623
27,West North Central,Nebraska,1745.0,676.0,1925614
34,West North Central,North Dakota,467.0,75.0,758080
41,West North Central,South Dakota,836.0,323.0,878698
3,West South Central,Arkansas,2280.0,432.0,3009733
18,West South Central,Louisiana,2540.0,519.0,4659690
36,West South Central,Oklahoma,2823.0,1048.0,3940235
43,West South Central,Texas,19199.0,6111.0,28628666

In [20]:
homeless.sort_values(['region', 'state'], ascending = [True, False]) #to sort multiple columns by diff order pass booleans

,region,state,individuals,family_members,state_pop
49,East North Central,Wisconsin,2740.0,2167.0,5807406
35,East North Central,Ohio,6929.0,3320.0,11676341
22,East North Central,Michigan,5209.0,3142.0,9984072
14,East North Central,Indiana,3776.0,1482.0,6695497
13,East North Central,Illinois,6752.0,3891.0,12723071
42,East South Central,Tennessee,6139.0,1744.0,6771631
24,East South Central,Mississippi,1024.0,328.0,2981020
17,East South Central,Kentucky,2735.0,953.0,4461153
0,East South Central,Alabama,2570.0,864.0,4887681
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
50,Mountain,Wyoming,434.0,205.0,577601
44,Mountain,Utah,1904.0,972.0,3153550
31,Mountain,New Mexico,1949.0,602.0,2092741
28,Mountain,Nevada,7058.0,486.0,3027341
26,Mountain,Montana,983.0,422.0,1060665
12,Mountain,Idaho,1297.0,715.0,1750536
5,Mountain,Colorado,7607.0,3250.0,5691287
2,Mountain,Arizona,7259.0,2606.0,7158024
45,New England,Vermont,780.0,511.0,624358
39,New England,Rhode Island,747.0,354.0,1058287
29,New England,New Hampshire,835.0,615.0,1353465
21,New England,Massachusetts,6811.0,13257.0,6882635
19,New England,Maine,1450.0,1066.0,1339057
6,New England,Connecticut,2280.0,1696.0,3571520
47,Pacific,Washington,16424.0,5880.0,7523869
37,Pacific,Oregon,11139.0,3337.0,4181886
11,Pacific,Hawaii,4131.0,2399.0,1420593
4,Pacific,California,109008.0,20964.0,39461588
1,Pacific,Alaska,1434.0,582.0,735139
48,South Atlantic,West Virginia,1021.0,222.0,1804291
46,South Atlantic,Virginia,3928.0,2047.0,8501286
40,South Atlantic,South Carolina,3082.0,851.0,5084156
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
20,South Atlantic,Maryland,4914.0,2230.0,6035802
10,South Atlantic,Georgia,6943.0,2556.0,10511131
9,South Atlantic,Florida,21443.0,9587.0,21244317
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
7,South Atlantic,Delaware,708.0,374.0,965479
41,West North Central,South Dakota,836.0,323.0,878698
34,West North Central,North Dakota,467.0,75.0,758080
27,West North Central,Nebraska,1745.0,676.0,1925614
25,West North Central,Missouri,3776.0,2107.0,6121623
23,West North Central,Minnesota,3993.0,3250.0,5606249
16,West North Central,Kansas,1443.0,773.0,2911359
15,West North Central,Iowa,1711.0,1038.0,3148618
43,West South Central,Texas,19199.0,6111.0,28628666
36,West South Central,Oklahoma,2823.0,1048.0,3940235
18,West South Central,Louisiana,2540.0,519.0,4659690
3,West South Central,Arkansas,2280.0,432.0,3009733

In [22]:
#subsetting dataframe columns
homeless['state']

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [23]:
# to subset multiple columns ( pass a list of column names)
homeless[['region', 'state']]

                region                 state
0   East South Central               Alabama
1              Pacific                Alaska
2             Mountain               Arizona
3   West South Central              Arkansas
4              Pacific            California
5             Mountain              Colorado
6          New England           Connecticut
7       South Atlantic              Delaware
8       South Atlantic  District of Columbia
9       South Atlantic               Florida
10      South Atlantic               Georgia
11             Pacific                Hawaii
12            Mountain                 Idaho
13  East North Central              Illinois
14  East North Central               Indiana
15  West North Central                  Iowa
16  West North Central                Kansas
17  East South Central              Kentucky
18  West South Central             Louisiana
19         New England                 Maine
20      South Atlantic              Maryland
21         New England         Massachusetts
22  East North Central              Michigan
23  West North Central             Minnesota
24  East South Central           Mississippi
25  West North Central              Missouri
26            Mountain               Montana
27  West North Central              Nebraska
28            Mountain                Nevada
29         New England         New Hampshire
30        Mid-Atlantic            New Jersey
31            Mountain            New Mexico
32        Mid-Atlantic              New York
33      South Atlantic        North Carolina
34  West North Central          North Dakota
35  East North Central                  Ohio
36  West South Central              Oklahoma
37             Pacific                Oregon
38        Mid-Atlantic          Pennsylvania
39         New England          Rhode Island
40      South Atlantic        South Carolina
41  West North Central          South Dakota
42  East South Central             Tennessee
43  West South Central                 Texas
44            Mountain                  Utah
45         New England               Vermont
46      South Atlantic              Virginia
47             Pacific            Washington
48      South Atlantic         West Virginia
49  East North Central             Wisconsin
50            Mountain               Wyoming

In [25]:
# subset using logical condition ( this can be used for filtering)
homeless['family_members'] > 500

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24    False
25     True
26    False
27     True
28    False
29     True
30     True
31     True
32     True
33     True
34    False
35     True
36     True
37     True
38     True
39    False
40     True
41    False
42     True
43     True
44     True
45     True
46     True
47     True
48    False
49     True
50    False
Name: family_members, dtype: bool

In [26]:
# to subset rows meeting a condition
homeless[homeless['family_members'] > 500]

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
25,West North Central,Missouri,3776.0,2107.0,6121623
27,West North Central,Nebraska,1745.0,676.0,1925614
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
40,South Atlantic,South Carolina,3082.0,851.0,5084156
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
49,East North Central,Wisconsin,2740.0,2167.0,5807406

In [29]:
#subset row based on text data ( similarly we can use dates to subset)
homeless[homeless['region'] == 'West North Central']

                region         state  individuals  family_members  state_pop
15  West North Central          Iowa       1711.0          1038.0    3148618
16  West North Central        Kansas       1443.0           773.0    2911359
23  West North Central     Minnesota       3993.0          3250.0    5606249
25  West North Central      Missouri       3776.0          2107.0    6121623
27  West North Central      Nebraska       1745.0           676.0    1925614
34  West North Central  North Dakota        467.0            75.0     758080
41  West North Central  South Dakota        836.0           323.0     878698

In [30]:
# to subset rows containing one of multiple values for a column  using isin
homeless[homeless['region'].isin(['West North Central','New England'])]

                region          state  individuals  family_members  state_pop
6          New England    Connecticut       2280.0          1696.0    3571520
15  West North Central           Iowa       1711.0          1038.0    3148618
16  West North Central         Kansas       1443.0           773.0    2911359
19         New England          Maine       1450.0          1066.0    1339057
21         New England  Massachusetts       6811.0         13257.0    6882635
23  West North Central      Minnesota       3993.0          3250.0    5606249
25  West North Central       Missouri       3776.0          2107.0    6121623
27  West North Central       Nebraska       1745.0           676.0    1925614
29         New England  New Hampshire        835.0           615.0    1353465
34  West North Central   North Dakota        467.0            75.0     758080
39         New England   Rhode Island        747.0           354.0    1058287
41  West North Central   South Dakota        836.0           323.0     878698
45         New England        Vermont        780.0           511.0     624358

In [32]:
# combining multiple conditions using and and or
homeless[(homeless['region'] == 'New England') | (homeless['state'] == 'Iowa')]

                region          state  individuals  family_members  state_pop
6          New England    Connecticut       2280.0          1696.0    3571520
15  West North Central           Iowa       1711.0          1038.0    3148618
19         New England          Maine       1450.0          1066.0    1339057
21         New England  Massachusetts       6811.0         13257.0    6882635
29         New England  New Hampshire        835.0           615.0    1353465
39         New England   Rhode Island        747.0           354.0    1058287
45         New England        Vermont        780.0           511.0     624358

In [33]:
# combining multiple conditions using and and or
homeless[(homeless['region'] == 'New England') & (homeless['individuals'] > 500)]

         region          state  individuals  family_members  state_pop
6   New England    Connecticut       2280.0          1696.0    3571520
19  New England          Maine       1450.0          1066.0    1339057
21  New England  Massachusetts       6811.0         13257.0    6882635
29  New England  New Hampshire        835.0           615.0    1353465
39  New England   Rhode Island        747.0           354.0    1058287
45  New England        Vermont        780.0           511.0     624358

In [34]:
#Adding new dataframe to columns
homeless['pop_family'] = homeless['state_pop']/ homeless['family_members']

In [35]:
homeless.head()

,region,state,individuals,family_members,state_pop,pop_family
0,East South Central,Alabama,2570.0,864.0,4887681,5657.038194
1,Pacific,Alaska,1434.0,582.0,735139,1263.125430
2,Mountain,Arizona,7259.0,2606.0,7158024,2746.747506
3,West South Central,Arkansas,2280.0,432.0,3009733,6966.974537
4,Pacific,California,109008.0,20964.0,39461588,1882.350124